body{
    background-color: burlywood;
}

h1{
    text-align: center;
}

div{
    float: right;
}

#minhaDiv{
    margin-right: 180px;
}

.retangulo {
    margin-right: 30px;
    margin-bottom: 30px;
    width: 200px;
    height: 100px;
    border: 2px solid black; 
    border-radius: 20px;
}